.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
  background: #fff;
}

.card__image {
  max-height: 282px;
  min-height: 282px;
  object-fit: cover;
  flex: 0 0 282px;
}

.card__description {
  display: flex;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 100%;
}

.card__like-button {
  background: transparent url(../images/Vector.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background: transparent url(../images/Unioncard__like-button_active.svg)
    center no-repeat;
  cursor: pointer;
}

.card__trash-button {
  background: transparent url(../images/trashcan.svg) center no-repeat;
  height: 19.3px;
  width: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  margin: 18px 249px 0px;
}

.card__trash-button:hover {
  opacity: 0.6;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
