footer {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 35px 0 60px;
  flex-shrink: 0;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 636px) {
  .footer {
    padding: 30px 0 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-left: 19px;
  }
}
