@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
@import url(../blocks/modal.css);
/*.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 920px) {
  .page {
    padding: 0 20px;
  }
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width=1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}*/

/*.header {
  border-bottom: 1px solid grey;
  padding: 28px 27px 32px;
}

@media screen and (min-width: 920px) {
  .header {
    padding: 45px 0 41px;
  }
}*/

/*.profile {
  display: flex;
  padding-top: 40px;
  max-width: 880px;
  margin: 0 auto;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, auto) auto;
  align-items: center;
  column-gap: 18px;
  margin-left: 25px;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.profile__title {
  font-size: 26px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin: 0px;
}*/

/*.cards {
  font 
  margin-top: 30px;
} */

/*.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/Vector.svg) center no-repeat;
  width: 21px;
  height: 18px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}*/

/*@media screen and (max-width: 636px) {
  .profile {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 282px;
    align-items: center;
    margin: 0 auto;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0;
  }

  .profile__title {
    padding-right: 10px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
  }

  .profile__edit-button {
    width: 100%;
    margin: 0;
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    width: 282px;
    height: 50px;
  }
}

@media screen and (max-width: 934px) {
  .profile {
  }
  .profile__title {
    max-width: 373px;
  }
}

footer {
  color: white;
}

.footer__copyright {
  margin: 85px 30px 60px;
  color: #545454;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}*/
